extends ./layout/app

block contenido
    div(class="py-10")
        p(class="text-center text-indigo-600 font-extrabold text-9xl") 404
        h2(class="text-center text-4xl font-extrabold pt-10")= pagina